<h1 class="homepage_header"> lets eat together </h1>

<div class="homepage_links">
  <%= link_to "See the Schedule", dinners_url %> <img src="/assets/fork.png" width="9">  <%= link_to "Sign up to be a chef", new_chef_url %>
</div>

